NEXT_PUBLIC_APP_NAME="Vexts"
NEXT_PUBLIC_APP_DESCRIPTION="Production-ready opinionated stater kit with Next.js"
NEXT_PUBLIC_URL=http://localhost:3000 # Base URL of your app
APP_ENV=local
APP_DEBUG=true

DATABASE_URL= # PostgreSQL connection string, e.g. "postgresql://username:password@host:port/database"

BETTER_AUTH_SECRET= # Type in terminal "openssl rand -base64 32"
BETTER_AUTH_REQUIRE_EMAIL_VERIFICATION=false # Set to true if you want to require email verification for new users

RESEND_API_KEY= # https://resend.com/docs/dashboard/api-keys/introduction
RESEND_FROM_EMAIL= # m@example.com

# Better Auth Social Provider  https://better-server.com/docs/authentication/github
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

