APP_NAME="Better Auth Next Typecript"
APP_ENV=local
APP_DEBUG=true

DATABASE_URL= # https://neon.com/

BETTER_AUTH_SECRET= # Type in terminal "openssl rand -base64 32"
BETTER_AUTH_URL=http://localhost:3000 # Base URL of your app
RESEND_API_KEY= # https://resend.com/docs/dashboard/api-keys/introduction
RESEND_FROM_EMAIL= # m@example.com


# Better Auth Social Provider  https://better-auth.com/docs/authentication/github
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

